Queen_Iraa/config.py
Queen_Iraa/*.session
Queen_Iraa/*.session-journal
Queen_Iraa/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Queen_Iraa/modules/helper_funcs/temp.txt
Queen_Iraa/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
QUEENIRAA.session-journal
updates.txt
*.exe