Queen-Iraa/config.py
Queen-Iraa/*.session
Queen-Iraa/*.session-journal
Queen-Iraa/config.ini
*.pyc
.project
.pydevproject
.directory
Queen-Iraa/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
iraa.session-journal
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
*.log
shell_output.txt
.vs
Queen-Iraa/elevated_users.json
